/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

div.container {
  width: 80%;
  margin: 0 auto;
}

header, footer, main {
  width: 100%;
}

.cover {
  background-color: #80808054;
  border-radius: 10px;
  height: 100%;
}


/* header */

div.logo {
  margin-bottom: 20px;
  width: 120px;
  border-right: 1px solid gray;
}

img.logo {
  width: 100px;
}

header nav {
  margin-bottom: 20px;
  vertical-align: bottom;
}

nav li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}

nav li a {
  color: black;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  color: orange;
}

header .banner {
  margin-bottom: 20px;
  background-image: url('../img/banner.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  color: white;
}

header h3 {
  font-weight: 400;
  padding: 200px 30% 0 30px;
}

header p {
  padding: 0 30% 40px 30px;
  font-size: 10px;
}




/* main */

main {
  margin-bottom: 20px;
}

main p {
  color: gray;
}

main h4 {
  font-weight: 400;
}

div.title {
  margin-bottom: 20px;
}

main div.title h2 {
  font-weight: 700;
}

main div.title p {
  font-size: 8px;
}

div.article {
  float: left;
  margin-bottom: 15px;
  font-size: 10px;
}

.article .image {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 200px;
}

div.article.left div.image {
  background-image: url('../img/img-1.jpg');
}

div.article.center div.image {
  background-image: url('../img/banner-2.jpg');
}

div.article.right div.image {
  background-image: url('../img/img-3.jpg');
}

div.article.left,
div.article.right {
  width: 20%;
}

div.article.center {
  width: 56%;
  margin: 0 2%;
}

/* footer */

footer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 11px;
}

footer p::after {
  color: red;
  content: "\2665";
  font-size: 16px;
}